<IfModule rewrite_module>
	RewriteBase /
	RewriteEngine On
	
	# REGLAS A DESBLOQUEAR EN CUANTO ESTÉ LISTO TODO
	# Página de inicio
	#RewriteRule ^$ /index.php [L]
	#
	# Actividades
	#RewriteRule ^actividades$ /actividades/ [R=301]
	#RewriteRule ^actividades/$ /server/actividades.php
	RewriteRule ^actividades/([a-z\d-]+)$ /server/actividad.php?slug=$1 [L]
	#
	# Acerca de y registro
	#RewriteRule ^acercade$ /acerca.php [L]
	#RewriteRule ^registro$ /server/registro.php [QSA,L]

	# REGLAS ACTUALES
	# Página de inicio
	RewriteRule ^$ /index.php [L]
	
	RewriteRule ^(acercade|registro|contacto|actividades[.]*)$ /construye.php [L]

</IfModule>